// compatible

@mixin compatible($key, $value) {
	-webkit-#{$key}: $value;
	-moz-#{$key}: $value;
	-o-#{$key}: $value;
	#{$key}: $value;
}

@mixin compatibler($key, $value) {
	#{$key}: -webkit-#{$value};
	#{$key}: -moz-#{$value};
	#{$key}: -o-#{$value};
	#{$key}: $value;
}

@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}

// font-size
$font-size14: 0.875rem;
$font-size18: 1.125rem;
$font-size24: 1.5rem;
$font-size32: 2rem;

// percent width
$width3s: 33.33333333%;
$width4s: 25%;
$width5s: 20%;
$width6s: 16.66666667%;
$width7s: 14.28571429%;
$width8s: 12.5%;
$width9s: 11.11111111%;
$width10s: 10%;
$width11s: 9.09090909%;
$width12s: 8.33333333%;

// main

* {
	margin: 0;
	padding: 0;
	font-family: 'Microsoft YaHei';
	@include compatible(box-sizing, border-box);
}

html,
body {
	width: 100%;
	font-size: 16px;
}

ul {
	list-style: none;
}

button {
	border: 0;
	background: #ffffff;

	&:focus {
		outline: none;
	}
}

a {
	text-decoration: none;
	color: inherit;
	font-family: inherit;

	&:focus {
		color: inherit;
		text-decoration: none;
	}

	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

// clear float
.clearfix {
	display: inline-block;

	&:after {
		content: '';
		display: inline-block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

// upload file

.r-upload {
	width: 100%;
	height: 100%;
	padding: 4px 10px;
    line-height: 20px;
	text-align: center;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;

    &:hover {
        color: #444;
        background: #eee;
        border-color: #ccc;
        text-decoration: none
    }

	>input {
		position: absolute;
		font-size: 100px;
		right: 0;
		top: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		cursor: pointer
	}

	>img {
		margin-top: 10px;
		width: 100%;
	}
}