<<<<<<< HEAD:gallery/backage/css/component_display.css
* {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  font-size: 16px; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

p {
  font-size: 1.5rem;
  border-bottom: 1px solid #E3E3E3;
  display: block;
  height: 40px;
  margin-top: 12px; }

.top {
  width: 100%;
  border-bottom: 1px solid #E3E3E3;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0; }
  .top span {
    font-size: 2rem;
    line-height: 65px;
    padding-left: 50px; }

.nav {
  width: 300px;
  border-right: 1px solid #000;
  padding-top: 30px;
  position: absolute;
  top: 65px;
  left: 0px; }
  .nav li {
    padding: 5px 0;
    padding-left: 50px;
    color: #777; }

.all {
  margin-top: 65px;
  min-width: 1330px;
  position: relative; }

.content {
  width: 706px;
  margin: 0 auto;
  overflow: hidden; }

.button_display {
  margin-top: 12px; }
  .button_display button {
    margin: 0 5px; }
  .button_display .black-white-bgc {
    margin-top: 12px;
    background-color: #777;
    padding: 12px 0px; }
    .button_display .black-white-bgc .button-black-white {
      background-color: #000;
      border: none;
      color: #fff;
      cursor: pointer;
      transition: all .2s;
      outline: none;
      padding: 8px 16px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px; }
      .button_display .black-white-bgc .button-black-white:hover {
        color: #000;
        background-color: #fff; }
    .button_display .black-white-bgc .button-black-white-fillet {
      background-color: #000;
      border: none;
      color: #fff;
      cursor: pointer;
      transition: all .2s;
      outline: none;
      padding: 8px 16px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      -webkit-border-radius: 2em;
      -moz-border-radius: 2em;
      -o-border-radius: 2em;
      border-radius: 2em;
      padding: 8px 30px; }
      .button_display .black-white-bgc .button-black-white-fillet:hover {
        color: #000;
        background-color: #fff; }
    .button_display .black-white-bgc .button-black-white-medium {
      background-color: #000;
      border: none;
      color: #fff;
      cursor: pointer;
      transition: all .2s;
      outline: none;
      padding: 8px 16px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      padding: 4px 8px; }
      .button_display .black-white-bgc .button-black-white-medium:hover {
        color: #000;
        background-color: #fff; }
    .button_display .black-white-bgc .button-black-white-small {
      background-color: #000;
      border: none;
      color: #fff;
      cursor: pointer;
      transition: all .2s;
      outline: none;
      padding: 8px 16px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      padding: 1px 2px; }
      .button_display .black-white-bgc .button-black-white-small:hover {
        color: #000;
        background-color: #fff; }
  .button_display .gradient-bgc {
    margin-top: 12px;
    background-color: #e2e2e2;
    padding: 12px 0px; }
    .button_display .gradient-bgc .button-gradient-linear, .button_display .gradient-bgc .button-gradient-linear-fillet, .button_display .gradient-bgc .button-gradient-linear-medium, .button_display .gradient-bgc .button-gradient-linear-small {
      background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
      background: -moz-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
      background: -o-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
      background: gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      padding: 8px 16px;
      cursor: pointer;
      border: 0;
      transition: all .2s;
      outline: 0;
      color: #fef4e9; }
      .button_display .gradient-bgc .button-gradient-linear:hover, .button_display .gradient-bgc .button-gradient-linear-fillet:hover, .button_display .gradient-bgc .button-gradient-linear-medium:hover, .button_display .gradient-bgc .button-gradient-linear-small:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
        background: -moz-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
        background: -o-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
        background: gradient(linear, left top, left bottom, from(#f88e11), to(#f06015)); }
      .button_display .gradient-bgc .button-gradient-linear:active, .button_display .gradient-bgc .button-gradient-linear-fillet:active, .button_display .gradient-bgc .button-gradient-linear-medium:active, .button_display .gradient-bgc .button-gradient-linear-small:active {
        background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
        background: -moz-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
        background: -o-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
        background: gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a)); }
      .button_display .gradient-bgc .button-gradient-linear:active, .button_display .gradient-bgc .button-gradient-linear-fillet:active, .button_display .gradient-bgc .button-gradient-linear-medium:active, .button_display .gradient-bgc .button-gradient-linear-small:active {
        color: #fcd3a5; }
    .button_display .gradient-bgc .button-gradient-linear-fillet {
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -o-border-radius: 2rem;
      border-radius: 2rem;
      padding: 8px 30px; }
    .button_display .gradient-bgc .button-gradient-linear-medium {
      padding: 4px 8px; }
    .button_display .gradient-bgc .button-gradient-linear-small {
      padding: 1px 2px; }

=======
*{margin:0;padding:0;font-family:'Microsoft YaHei';-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}html,body{width:100%;font-size:16px}ul{list-style:none}a{text-decoration:none;color:inherit}p{font-size:1.5rem;border-bottom:1px solid #E3E3E3;display:block;height:40px;margin-top:12px}.top{width:100%;border-bottom:1px solid #E3E3E3;background-color:#fff;position:absolute;top:0;left:0}.top span{font-size:2rem;line-height:65px;padding-left:50px}.nav{width:300px;border-right:1px solid #000;padding-top:30px;position:absolute;top:65px;left:0px}.nav li{padding:5px 0;padding-left:50px;color:#777}.all{margin-top:65px;min-width:1202px;position:relative}.content{width:706px;margin:0 auto;overflow:hidden}.button_display{margin-top:12px}.button_display button{margin:0 5px}.button_display>div{margin-top:12px;padding:12px 0px}.button_display .black-white-bgc{background-color:#777}.button_display .black-white-bgc .button-black-white{background-color:#000;border:none;color:#fff;cursor:pointer;transition:all .2s;outline:none;padding:8px 16px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px}.button_display .black-white-bgc .button-black-white:hover{color:#000;background-color:#fff}.button_display .black-white-bgc .button-black-white-fillet{background-color:#000;border:none;color:#fff;cursor:pointer;transition:all .2s;outline:none;padding:8px 16px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;-webkit-border-radius:2em;-moz-border-radius:2em;-o-border-radius:2em;border-radius:2em;padding:8px 30px}.button_display .black-white-bgc .button-black-white-fillet:hover{color:#000;background-color:#fff}.button_display .black-white-bgc .button-black-white-medium{background-color:#000;border:none;color:#fff;cursor:pointer;transition:all .2s;outline:none;padding:8px 16px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;padding:4px 8px}.button_display .black-white-bgc .button-black-white-medium:hover{color:#000;background-color:#fff}.button_display .black-white-bgc .button-black-white-small{background-color:#000;border:none;color:#fff;cursor:pointer;transition:all .2s;outline:none;padding:8px 16px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;padding:1px 2px}.button_display .black-white-bgc .button-black-white-small:hover{color:#000;background-color:#fff}.button_display .gradient-bgc{background-color:#e2e2e2}.button_display .gradient-bgc .button-gradient-linear,.button_display .gradient-bgc .button-gradient-linear-fillet,.button_display .gradient-bgc .button-gradient-linear-medium,.button_display .gradient-bgc .button-gradient-linear-small{background:-webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));background:-moz-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));background:-o-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));background:gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;padding:8px 16px;cursor:pointer;border:0;transition:all .2s;outline:0;color:#fef4e9}.button_display .gradient-bgc .button-gradient-linear:hover,.button_display .gradient-bgc .button-gradient-linear-fillet:hover,.button_display .gradient-bgc .button-gradient-linear-medium:hover,.button_display .gradient-bgc .button-gradient-linear-small:hover{background:-webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));background:-moz-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));background:-o-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));background:gradient(linear, left top, left bottom, from(#f88e11), to(#f06015))}.button_display .gradient-bgc .button-gradient-linear:active,.button_display .gradient-bgc .button-gradient-linear-fillet:active,.button_display .gradient-bgc .button-gradient-linear-medium:active,.button_display .gradient-bgc .button-gradient-linear-small:active{background:-webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));background:-moz-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));background:-o-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));background:gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a))}.button_display .gradient-bgc .button-gradient-linear:active,.button_display .gradient-bgc .button-gradient-linear-fillet:active,.button_display .gradient-bgc .button-gradient-linear-medium:active,.button_display .gradient-bgc .button-gradient-linear-small:active{color:#fcd3a5}.button_display .gradient-bgc .button-gradient-linear-fillet{-webkit-border-radius:2rem;-moz-border-radius:2rem;-o-border-radius:2rem;border-radius:2rem;padding:8px 30px}.button_display .gradient-bgc .button-gradient-linear-medium{padding:4px 8px}.button_display .gradient-bgc .button-gradient-linear-small{padding:1px 2px}
>>>>>>> 7c2ff6963bfcc37b73a8f7693322542aa10ec3c8:gallery/css/component_display.css
/*# sourceMappingURL=component_display.css.map */
