* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

.pageing {
	margin: auto;
	width: 405px;
}

.pageing ul {
	list-style: none;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}

.pageing ul li {
	border: 1px solid #000;
	cursor: pointer;
	float: left;
	margin: 0 5px;
	padding: 5px;
	text-align: center;
	transition: all .2s;
	width: 35px;

	-webkit-border-radius: 5px; /*chrome safari*/
	-moz-border-radius: 5px; /*firefox*/
	-o-border-radius: 5px; /*opera*/
	border-radius: 5px;
}

.pageing ul li:hover {
	background: #000;
	color: #fff;
}

.pageing .pageingColor {
	background-color: #000;
	color: #fff;
}