@import 'R';

p {
	font-size: $font-size24;
	border-bottom: 1px solid #E3E3E3;
	display: block;
	height: 40px;
	margin-top: 12px;
}


// header start

.top {
	width: 100%;
	border-bottom: 1px solid #E3E3E3;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	span {
		font-size: $font-size32;
		line-height: 65px;
		padding-left: 50px;
	}
}

// header end


// nav start

.nav {
	width: 300px;
	border-right: 1px solid #000;
	padding-top: 30px;
	position: absolute;
	top: 65px;
	left: 0px;
	li {
		padding: 5px 0;
		padding-left: 50px;
		color: #777;
	}
}

// nav end


// main start

.all {
	margin-top: 65px;
	min-width: 1202px;
	position: relative;
}

// content start

// button start

.content {
	// border: 1px solid #000;
	width: 706px;
	margin: 0 auto;
	overflow: hidden;
}

.button_display {
	
	margin-top: 12px;

	button {
		margin: 0 5px;
	}

	.black-white-bgc {
		margin-top: 12px;
		background-color: #777;
		padding: 12px 0px;

		.button-black-white {
			@include button-black-white();
		}

		.button-black-white-fillet {
			@include button-black-white();
			@include compatible(border-radius, 2em);
			padding: 8px 30px;
		}
		
		.button-black-white-medium {
			@include button-black-white();
			padding: 4px 8px;
		}

		.button-black-white-small {
			@include button-black-white();
			padding: 1px 2px;
		}
	}

	.gradient-bgc {
		margin-top: 12px;
		background-color: #e2e2e2;
		padding: 12px 0px;

		.button-gradient-linear {
			@include button-gradient-linear(#faa51a, #f47a20, #f88e11, #f06015, #f47a20, #faa51a);
			outline: 0;
			color: #fef4e9;
			&:active {
				color: #fcd3a5;
			}
		}
		
		.button-gradient-linear-fillet {
			@extend .button-gradient-linear;
			@include compatible(border-radius, 2rem);
			padding: 8px 30px;
		}

		.button-gradient-linear-medium {
			@extend .button-gradient-linear;
			padding: 4px 8px;
		}

		.button-gradient-linear-small {
			@extend .button-gradient-linear;
			padding: 1px 2px;
		}
	}
}

// button end

// content end

// main end
